@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Source+Sans+Pro:wght@600&display=swap');

/* GENERAL RULES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#bloc_page{
    width: 80%;
    margin: 0 auto;
}

body{
    font-family: 'Roboto', sans-serif;
}
/* HEADER */

.menu{
    position: absolute;
    right:10%;
    top:45px;
}
.menu ul {
    display: flex;
    list-style-type: none;
}
.menu a {
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    color:black;
}

.menu a:visited{
    
    color:black;
}

#logo{
    position: relative;
    top:5px;
}

/* END HEADER */


/* SECTION 1 */

.section-1 .banner > img{
    max-width: 100%;
    position: relative;
}

#small_logo{
    position:absolute;
    right:42%;
    height: 90px;
    top:35%;
}

 .banner h1 {
    font-size: 2.60rem;
    position: absolute;
    left:39%;
    bottom : 45%;
    color:white;
}
/* END SECTION 1 */

/* SECTION 2 */

#small_description{
    color:#575757;
    font-size: 1.60rem;
    text-align: center;
    margin-top:3%;
    font-weight: bold;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-right:5%;
 
}
.item{

    margin-left: 5%;
}
.item h1{
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.item p {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    
}

.item img{
   display: block;
   margin-left: auto;
   margin-right: auto; 
}

.avis_client p{
    text-align: center;
    line-height: 30px;
    margin-top: 5%;
    font-size: 25px;
    color: black;
}

.avis_client p > span{
    color:grey;
    font-size: 20px;
    position: relative;
    top:15px;
}

/* END SECTION 2 */

/* FOOTER */

footer{
    height: auto;
    margin-top: 3%;
    background-color:#5B359D;
    color: white;
}
.social-network  p {
    font-weight: bold;
    padding-top: 2%;
    
}
.social-network{
    text-align: center;
}

.social-network .fab {
position: relative;
margin-left: 7%;
margin-top: 10px;
font-size: 30px;
right : 65px;
color:#BDAED8;
}

.legal-information{
 display: flex;
 text-align: center;
 justify-content: space-around;
}

.legal-information .element {
    margin-top: 45px;

}

.legal-information .element ul {
    margin-top: 15px;
    margin-left: 180px;
    margin-bottom: 15px;
}

.element .without_square{
    list-style-type: none;
}

.element ul{
    list-style-type: disc;
}

.element h4{
    color:#A49ED3;
}
